@charset "utf-8";
/* CSS Document */

@-webkit-keyframes flip {
	0% {-webkit-transform: rotateY(180deg);}
	100% { -webkit-transform: rotateY(0deg);}
}

@-webkit-keyframes gainCoins {					
	0% { 
		-webkit-transform: scale(0);
	}
	100% { 
		-webkit-transform: scale(1);
	}
}

@-webkit-keyframes loseCoins {					
	0% { 
		-webkit-transform: scale(0);
	}
	100% { 
		-webkit-transform: scale(1);
	}
}

.flipAnimation { -webkit-animation: flip 500ms ease-out; }

#popup_chip { padding: 0; }
.gain { -webkit-animation: gainCoins 500ms normal; }
.lose { -webkit-animation: loseCoins 500ms normal; }

/* Modal Window Style */
#fade { /*--Transparent background layer--*/
	display: none; /*--hidden by default--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .5;
	z-index: 9999;
}
.popup_block{
	display: none; /*--hidden by default--*/
	background: none/*rgba(255, 255, 255, 0.6)*/;
	padding: 20px;
	height: 160px;
	/*border: 10px solid #ddd;*/
	color: #ffa100;
	text-align: center;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	font: bold 16px Arial, Helvetica, sans-serif;
}

.

/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
	position: absolute;
}
*html .popup_block {
	position: absolute;
}
