#playerProfile {
	width: 50%; 
	position: absolute; 
	top: 0; 
	left: 0; 
	height: 40%;
	background: url(../images/player-profile-bg.png) left top no-repeat;
	padding: 20px 10px 0 40px;
}

#triviaStats {
	width: 50%; 
	position: absolute; 
	top: 0; 
	left: 50%; 
	height: 37%;
	background: url(../images/trivia-stats-bg.png) right bottom no-repeat;
	padding: 20px 40px 0 10px;
}

#leaderboard {
	width: 100%; 
	position: absolute; 
	top: 40%;
	height: 60%; 
	left: 0; 	
	margin: 0;
	padding: 20px 0 20px 40px;
	background: url(../images/leaderboard-left-bg.png) left top no-repeat;
}

#leaderboardLeftBg {
	width: 100%;
	height: 100%;
	background: url(../images/leaderboard-right-bg.png) right top no-repeat;
	padding-right: 40px;
}

.statsCard {
	background: url(../images/stats-card-bg.png) center no-repeat;
	width: 100%;
	height: 100%;
	padding: 10px;
	border: 5px solid #fff;
	box-shadow: 0 0 8px #000;
	-moz-box-shadow: 0 0 8px #000;	
	-webkit-box-shadow: 0 0 8px #000;
	border-radius: 5px;	
	text-shadow: none;
	color: #333;
	text-align: left;
	overflow: scroll;
}

.cardName {
	border-bottom: 1px solid #d4d4d4;
	box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 0 #fff;	
	color: #d3121a;
	font: bold 18px Georgia, "Times New Roman", Times, serif;
	padding: 3px 0 13px 0;
	text-align: center;
}

.statsCard ul {
	margin: 0;
	padding: 0;
}
.statsCard ul li {
	border-bottom: 1px solid #d4d4d4;
	box-shadow: 0 1px 0 #fff;
	height: 44px;
	padding: 13px 3px;	
}

.statsCard ul li.level {
	height: 67px;
}

.statsCard ul li.level .bg {
	width: 100%; 
	background: #999; 
	height: 14px; 
	border-radius: 7px; 
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px; 
	padding: 1px; 
	margin-top: 8px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8c8d8e), to(#bfc0c1));
}
.statsCard ul li.level .bar {
	width: 80%; 
	margin: 0; 
	padding: 0; 
	height: 12px; 
	border-radius: 6px; 
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px; 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fbdf99), to(#ffa701));
}

.statsCard ul li .label {
	float: left;
	font-weight: bold;
}

.statsCard ul li .value {
	float: right;
}

.statsCard .tableContainer { 
	width: 50%; 
	margin-top: 10px;	
}

.statsCard .tablerowposition {
	width: 10%;
}

.statsCard .tablerowname {
	width: 50%;
}

.statsCard .tablerowxp {
	width: 40%;
}

.left {
	float: left;
	padding-right: 10px; 	
}

.right {
	float: right;
	padding-left: 10px; 	
}

#leaderboard table {
	width: 100%;
	background: #5388c3;
	color: #fff;
}

#leaderboard table th, td {
	padding: 7px;
	text-align: center;
	border-right: 1px solid #789bc4;
	/*border-left: 1px solid #45699b;*/
}

#leaderboard table th {
	text-align: center;
	text-shadow: 0 1px 0 #000;	
}

tr.alt { 
	background: #3b679f;
}

#leaderboard table td.pic {
	border: none;	
	padding: 4px 0 0 7px;
	width: 15%;
}

#leaderboard table td.pic img {
	border: 2px solid #fff; 
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px; 
	border-radius: 2px; 
	box-shadow: 0 0 3px #000;
	-moz-box-shadow: 0 0 3px #000;
	-webkit-box-shadow: 0 0 3px #000;
}