/**
 * @author Alfred Tom
 *
 * (c) 2011 Alfred Tom
 */
/******************** Poll Content ********************/
#polltitle {
        padding: 20px 5px;
        font-size: 1.2em;
        color: #fff;
        text-shadow: 1px 1px 0 #18365d;
        border-bottom: 1px solid #7cb4e6;
        -moz-box-shadow: 0px 1px 8px             #1d314b;
        -webkit-box-shadow: 0px 1px 8px         #1d314b;
        box-shadow: 0px 1px 8px                 #1d314b;
    	background: url(../images/innercard-bg.png) top repeat #1d3f77;
    }
.pollnavbar {
}

#pollquestions {
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: url(../images/body-bg.png) top repeat #1d3f77;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    text-shadow: none;
}
	#pollquestions .pollcontainer {                    
	    background-color: #fff;
	    margin: 7px;
	    padding:  10px;
	    border-radius:             1em;
	    -moz-border-radius:     1em;
	    -webkit-border-radius:     1em;
	    
	}    
    #pollquestions .polldescription {
	    display: box;
	    box-orient: horizontal;
	    box-align: start;
	            
	    /* Firefox */
	    display: -moz-box;
	    -moz-box-orient: horizontal;
	    -moz-box-align: start;
	    
	    /* Safari and Chrome */
	    display: -webkit-box;
	    -webkit-box-orient: horizontal;
	    -webkit-box-align: start;
	    
	    margin: 0;
	    padding: 0;
    }
    #pollquestions .pollquestion {
        font: bold 1em Arial, Helvetica, sans-serif;
        text-align: left;
        padding: .5em .5em 0;
        color: #222;
        width: 100%;
    	/*box-flex: 100;
	    -webkit-box-flex: 100;
	    -moz-box-flex: 100;*/
    }
    #pollquestions .votebox {
    	padding: 0;
    	margin: 0;
    	min-width: 160px;
    	/*box-flex: 1;
	    -webkit-box-flex: 1;
	    -moz-box-flex: 1;*/
    }
    #pollquestions .positionlabel {
        font: bold .9em Arial, Helvetica, sans-serif;
        color: #222;
        margin: 5px 0px;
    }
    #pollquestions .votebuttons {
    	margin: 0;
    	padding: 0;
    }
    #pollquestions .votebutton {
    }
    /*#pollquestions .resultstext {
        font: bold .9em Arial, Helvetica, sans-serif;
        color: #222;
        margin: 5px 0px;
    }*/
    #pollquestions .positionsummary {
        font: bold .9em Arial, Helvetica, sans-serif;
        color: #222;
        text-align: left;
        padding-left: 1em;
        margin:  10px 0 0;
    }
    #pollquestions .currentposition {
    }
    #pollquestions .betamount {
    }
    #pollquestions .positionvote {
    }
    #pollquestions .winamount {
    }
    #pollquestions .marketvaluetext {
    }
    #pollquestions .marketvalue {
    }
   #pollquestions .betcontainer {
    }
    /*#pollquestions .betfirst {
        font: bold 1em Arial, Helvetica, sans-serif;
        color: #222;
        text-align: center;
        margin: 0;
    }*/
    #pollquestions .betform {
    	/*border: 3px solid black;*/
    	color: black;
    	text-align: left;
    	min-width: 200px;
    	padding: 1em;
    	margin: 0;
	}
	#pollquestions .betexplanation {
	    display: box;
	    box-orient: horizontal;
	    box-align: start;
	            
	    /* Firefox */
	    display: -moz-box;
	    -moz-box-orient: horizontal;
	    -moz-box-align: start;
	    
	    /* Safari and Chrome */
	    display: -webkit-box;
	    -webkit-box-orient: horizontal;
	    -webkit-box-align: start;
		
	}
    #pollquestions .currentvotepreamble {
        font: 1em Arial, Helvetica, sans-serif;
        color: #222;
        text-align: left;
        margin: 0;
        -moz-text-shadow: none;
        -webkit-text-shadow: none;
        text-shadow: none;
    }
    #pollquestions .currentvote {
        font: bold 1em Arial, Helvetica, sans-serif;
        color: #222;
        text-align: left;
        margin: 0;
    }
    #pollquestions .costpicker {
    	margin: 0;
    	padding: 0;
	}    
    #pollquestions .betchoicelabel {
    	margin: 20px 0 0;
    	text-align: center;
    	vertical-align: top;
	}    
	#pollquestions .payoutpreamble {    
	} 
	#pollquestions .payouttext { 
        font: bold 1em Arial, Helvetica, sans-serif;
        color: #222;
	} 
	#pollquestions .betbutton {    
	} 
	#pollquestions .changepositionbutton {    
	} 
	#pollquestions .changepositiontext {    
	} 
    #pollquestions .changeform {
    	border: 3px solid black;
    	border-radius: 1em;
    	color: black;
    	text-align: left;
    	min-width: 300px;
    	padding: 1em;
    	margin: 1em 0 0 1em;
    	clear: right;
	}
	#pollquestions .cashoutpreamble {    
	} 
	#pollquestions .winlosetext {    
		color: green;
	} 
	#pollquestions .cashoutbutton {    
	} 
	#pollquestions .changepicker {    
	} 
	#pollquestions .changechoicelabel {    
	} 
	#pollquestions .newpayouttext {    
	} 
	#pollquestions .changebet {    
	} 
	#pollquestions .changebutton {    
	} 
    #pollquestions .detailsinner {
    	/*border: 3px solid black;*/
    	color: black;
    	text-align: left;
    	min-width: 200px;
    	padding: 1em;
    	margin: 0;
	}
    /*#pollquestions .allgraphscontainer {
    	padding: 0;
    	margin: 0;
    	text-align: right;
    	float: right;
    	min-width: 200px;
    }
    #pollquestions .graphtitle {
        font: bold .9em Arial, Helvetica, sans-serif;
        color: #222;
        margin: 10px 0px;
        text-align: left;
    }*/
	#pollquestions .detailsheader {    
	} 
	#pollquestions .graphtitle {    
        font: bold 1em Arial, Helvetica, sans-serif;
	} 
    #pollquestions .graphtable {
    	padding: 0;
    	margin: 0px 20px 0px;
    	text-align: left;
    }
    #pollquestions .graphtextleft {
        font: bold 1em Arial, Helvetica, sans-serif;
        color: #222;
        padding: 0;
        margin: 0px 10px;
        width: 30px;
        max-width: 30px;
        text-align: left;
    }
    #pollquestions .graphtextright {
        font: bold 1em Arial, Helvetica, sans-serif;
        color: #222;
        padding: 0;
        text-align: left;
    }
    #pollquestions .graphimage {
        padding: 0;
        margin: 0;
        width: 0;
        text-align: left;
    }
	#pollquestions .historytable {    
	} 
	#pollquestions .historytextleft {    
        font: bold 1em Arial, Helvetica, sans-serif;
        padding: 30px 0;
	} 
	#pollquestions .historyimage {    
	} 
	#pollquestions .historytextbottom {    
        font: bold 1em Arial, Helvetica, sans-serif;
	} 
#popupcontainer {
	display: none;
	background: none;
	padding: 20px;
	text-align: center;
	float: left;
	position: fixed;
	top: 25%; left: 10%;
	width: 80%;
	z-index: 99999;
	-webkit-animation: scalePopup 300ms ease-out;
}    
    #popupborder {
        padding: 0 0 20px 0;
        border: 2px solid #d2d2d2;
        
        -moz-border-radius:         .8em;
        -webkit-border-radius:     .8em;
        border-radius:             .8em;
        
        -moz-box-shadow:     0 5px 8px rgba(0,0,0,.5);
        -webkit-box-shadow: 0 5px 8px rgba(0,0,0,.5);
        box-shadow:         0 5px 8px rgba(0,0,0,.5);
        
        background: url(../images/notification-bg.png) center no-repeat;                
    }    
    #popuptext {
		width: 100%;
		margin: 0 auto;
		color: #d3f976;
		text-shadow: 0 1px 0 #333;
		padding: 30px 20px;
		font: Bold 18px Arial, Helvetica, sans-serif;
    }
	#popupbuttoncontainer {
		width: 40%;
		max-width: 250px;
		min-width: 150px;
		margin: 0 auto;
		padding-bottom: 10px;
		font-size: 1em;  
	}    
	#popupbutton {
        font: Bold 16px Arial, Helvetica, sans-serif;
        color: #fff;
        text-decoration: none;
        text-shadow: 0 -1px 0 #000;
        -webkit-text-shadow: 0 -1px 0 #000;
        -moz-text-shadow: 0 -1px 0 #000;
        border: 1px solid #103a04;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        padding: 12px 50px;
        background: url(../images/btn-warnging-bg.png) top no-repeat;
        box-shadow: 0 1px 0 #6fa372;
		-webkit-box-shadow: 0 1px 0 #6fa372;
		-moz-box-shadow: 0 1px 0 #6fa372;
		margin-bottom: 15px;
	}
#confirmcontainer {
	display: none;
	background: none;
	padding: 20px;
	text-align: center;
	float: left;
	position: fixed;
	top: 25%; left: 10%;
	width: 80%;
	z-index: 99999;
	-webkit-animation: scalePopup 300ms ease-out;
}    
    #confirmborder {
        padding: 0 0 20px 0;
        border: 2px solid #d2d2d2;
        
        -moz-border-radius:         .8em;
        -webkit-border-radius:     .8em;
        border-radius:             .8em;
        
        -moz-box-shadow:     0 5px 8px rgba(0,0,0,.5);
        -webkit-box-shadow: 0 5px 8px rgba(0,0,0,.5);
        box-shadow:         0 5px 8px rgba(0,0,0,.5);
        
        background: url(../images/notification-bg.png) center no-repeat;                
    }    
    #confirmtext {
		width: 100%;
		margin: 0 auto;
		color: #d3f976;
		text-shadow: 0 1px 0 #333;
		padding: 30px 20px;
		font: Bold 18px Arial, Helvetica, sans-serif;
    }
	#confirmbuttoncontainer {
		width: 40%;
		max-width: 250px;
		min-width: 150px;
		margin: 0 auto;
		padding-bottom: 10px;
		font-size: 1em;  
	}    
	.confirmbutton {
        font: Bold 16px Arial, Helvetica, sans-serif;
        color: #fff;
        text-decoration: none;
        text-shadow: 0 -1px 0 #000;
        -webkit-text-shadow: 0 -1px 0 #000;
        -moz-text-shadow: 0 -1px 0 #000;
        border: 1px solid #103a04;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        padding: 12px 50px;
        background: url(../images/btn-warnging-bg.png) top no-repeat;
        box-shadow: 0 1px 0 #6fa372;
		-webkit-box-shadow: 0 1px 0 #6fa372;
		-moz-box-shadow: 0 1px 0 #6fa372;
		margin-bottom: 15px;
	}

