/**
 * @author Sherk Chung
 *
 * (c) 2011 Sherk Chung
 */
/********** All Animations **********/
@-webkit-keyframes slide {
    0% {
        -webkit-transform: translateY(-100px);
    }
    100% {
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes grow1 {
    0% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: rotateX(90deg);
    }
    20% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: rotateX(0deg);
    }
}

@-webkit-keyframes grow2 {
    0% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: rotateX(90deg);
    }
    20% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: rotateX(90deg);
    }
    40% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: rotateX(0deg);
    }
}

@-webkit-keyframes grow3 {
    0% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: rotateX(90deg);
    }
    40% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: rotateX(90deg);
    }
    60% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: rotateX(0deg);
    }
}

@-webkit-keyframes grow4 {
    0% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: rotateX(90deg);
    }
    60% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: rotateX(90deg);
    }
    80% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: rotateX(0deg);
    }
}

@-webkit-keyframes grow5 {
    0% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: rotateX(90deg);
    }
    80% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: rotateX(90deg);
    }
    100% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: rotateX(0deg);
    }
}
@-webkit-keyframes shrink {
    0% {
        -webkit-transform: scaleY(1);
    }
    100% {
        -webkit-transform: scaleY(0);
    }
}

@-webkit-keyframes chip1-toss-in {        
        
        0% {
            -webkit-transform: translate(-100px, 175px) rotateX(90deg); 
        }
        100% {
            -webkit-transform: translate(0px, 0px) rotateX(360deg); 
        }
    }

@-webkit-keyframes chip1-toss-out {        
        
        0% {
            -webkit-transform: translate(0px, 0px) rotateX(360deg);
        }
        100% {
            -webkit-transform: translate(-100px, 175px) rotateX(90deg);
        }
    }


@-webkit-keyframes chip5-toss-in {        
        
        0% {
            -webkit-transform: translate(0px, 175px) rotateX(90deg);
        }
        100% {
            -webkit-transform: translate(0px, 0px) rotateX(360deg);
        }
    }

@-webkit-keyframes chip10-toss-in {        
        
        0% {
            -webkit-transform: translate(100px, 175px) rotateX(90deg);
        }
        100% {
            -webkit-transform: translate(0px, 0px) rotateX(360deg);
        }
    }

@-webkit-keyframes chip25-toss-in {        
        
        0% {
            -webkit-transform: translate(200px, 175px)  rotateX(90deg);
        }
        100% {
            -webkit-transform: translate(0px, 0px) rotateX(360deg);
        }
    }

@-webkit-keyframes scalePopup {                    
    0% { 
        -webkit-transform: scale(0);
    }
    80% {
        -webkit-transform: scale(1.1);
    }
    100% { 
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes slideup_chiparea {
    0% {
        -webkit-transform: translateY(100px);
    }
    100% {
    }
}

@-webkit-keyframes slidedown_chiparea {
    0% {
    }
    100% {
        -webkit-transform: translateY(100px);  
    }
}

.chipAreaSlideUp { -webkit-animation: slideup_chiparea 700ms normal; }
.chipAreaSlideDown { -webkit-animation: slidedown_chiparea 400ms normal; }

html {
    text-align: center;
}         

#mainBody { 
    /* W3C */
    box-sizing: border-box; 
    box-flex: 1.0;
    
    /* Firefox */
    -moz-box-sizing: border-box; 
    -moz-box-flex: 1.0; 

    /* Safari and Chrome */
    -webkit-box-sizing: border-box; 
    -webkit-box-flex: 1.0; 

    height: 100%;
    width: 100%;
    
    min-height: 420px;
    max-height: 944px;
    
    margin: 0 auto;
    padding: 0;
    background: #424242;
    text-align: center;
}

div, section, aside, iframe, nav, ul, h1, h3, h6, form, ol, li  {
    /* make box size include all margin&padding */
    display: block;
    
    box-sizing: border-box; 
    box-flex: 1.0;
    
    /* Firefox */
    -moz-box-sizing: border-box; 
    -moz-box-flex: 1.0; 

    /* Safari and Chrome */
    -webkit-box-sizing: border-box; 
    -webkit-box-flex: 1.0; 
}

form {
    overflow: visible;
}


ul.header, div.header, div.footer, section.header, section.footer {
    /* Make header and footer fixed size (no stretch) */
    box-flex: 0;
    -moz-box-flex:0; /* Firefox */
    -webkit-box-flex:0; /* Safari and Chrome */    
    width: 100%;
}

.hilight {     
    font-weight: bold; color: #2B71B9; 
}

.row {
    /* 
    ** make divs stretch to fill space 
    */
    
    /* W3C */
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: stretch;
            
    /* Firefox */
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: stretch;
    
    /* Safari and Chrome */
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: stretch;
    
    padding: 0px;
}


.column {
    /* 
    ** make child (header, content, footer) divs vertical and
    ** make them stretch to fill out the space 
    */
    /* W3C */
    display: box;
    box-orient: vertical;
    box-pack: center;
    box-align: stretch;
            
    /* Firefox */
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-pack: center;
    -moz-box-align: stretch;
    
    /* Safari and Chrome */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: stretch;
    
    overflow: hidden;
}

#splashscreen {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
}
#splashscreen img {
	text-align: center;
	margin: 0 auto;
}

#mainHeader {

}

#mainContent {
    overflow: hidden;
    
    box-flex: 100;
    -moz-box-flex: 100;
    -webkit-box-flex: 100;     
    
    width: 100%;
    height: 100%;
    
    min-width: 320px;
    max-width: 1024px;
    
    margin: 0 auto;
    
}

#mainFooter {
    margin: .1em auto;
    padding: .1em;
    color: #ccc;
    background: #111;
    font: 12px arial,sans-serif;
    border-top: 3px ridge grey;
}

#mainFooter h4 {
    margin: .2em;
}

#midcol {
    min-width: 300px;
    max-width: 600px;
    overflow: hidden;
    /* width: 500px; */
    border: 3px solid #444;
    border-top: 3px solid #777;
    border-bottom: 0;
    
    
}    #midcolnav {
        box-flex: 0;
        -moz-box-flex: 0; /* Firefox */
        -webkit-box-flex: 0; /* Safari and Chrome */
        overflow-y: visible;
    }    #midcolnav ul.ui-grid-c li {
            clear:none !important;
        }    #midcolnav ul li a.ui-btn-up-a  {
                /* background: #555; */
                background: url("css/images/ui-bg_highlight-hard_55_555555_1x100.png") repeat-x scroll 50% 50% #555555
            }
        
    #viewport {
        width: 100%;
        overflow: hidden;
        min-width: 300px;
        /*max-width: 600px;*/
        max-width: 1024px;
        background: url(../images/body-bg.png) center repeat-x;
    }     
        #viewport .ui-page-active {
            /* 
            ** make this div stretch to fill space 
            */
            box-flex: 1.0;
            -moz-box-flex: 1.0; /* Firefox */
            -webkit-box-flex: 1.0; /* Safari and Chrome */
            /* 
            ** make child (header, content, footer) divs vertical and
            ** make them stretch to fill out the space 
            */
            /* W3C */
            box-orient: vertical;
            box-pack: center;
            box-align: stretch;
                    
            /* Firefox */
            display: -moz-box;
            -moz-box-orient: vertical;
            -moz-box-pack: center;
            -moz-box-align: stretch;

            /* Safari and Chrome */
            
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-box-pack: center;
            -webkit-box-align: stretch;
            
            position: relative;
            overflow: hidden;
            min-height: 0 !important;
        }
        #viewport .ui-content {
            overflow-y: auto;
        }
        #viewport .ui-listview {
            margin: 0 ;
        }
        #viewport div.listings {
            overflow-x: hidden;
            overflow-y: auto;
            display: box;
            display: -moz-box;
            display: -webkit-box;
        }
        div.listmenu {
            text-align: left !important;
            text-shadow: 0 0;
        }    div.listmenu a.menuitem {
                width: 100%;
                border-top: 1px solid #aaa;
                background: #fff;
                text-decoration: none;
                color: #444;
            }    div.listmenu a.menuitem .textcont {
                    display: box;
                    display: -moz-box;
                    display: -webkit-box;

                    box-flex: 100;
                    -moz-box-flex: 100;
                    -webkit-box-flex: 100;

                    padding: 0.75em .5em 0.75em 1em;
                    overflow: visible;
                    word-wrap: break-word;
                    white-space: normal;
                }
                div.listmenu a.menuitem .icons {
                    box-flex: 0;
                    -moz-box-flex: 0;
                    -webkit-box-flex: 0;
                    padding: .75em .5em 0 0;
                }
                div.listmenu a.menuitem .icon {
                    display: block;
                    float:left;
                }
                div.listmenu a.menuitem .count {
                    font-size: 11px;
                    font-weight: bold;
                    padding: 0.2em 0.5em;
                    margin-right: 10px;
                    border-radius: 1em;
                    background: #eee;
                    border: 1px solid #ccc;
                    color: #444;
                }
        #leftcol div.listmenu a.menuitem {
                border-top: 1px solid #aaa;
                background: #333;
                color: #aaa;
        }
        
        #viewport div.listings div.ui-collapsible-contain{
            box-flex: 0;
            -moz-box-flex: 0;
            -webkit-box-flex: 0;
        }
        #viewport div.header {
            background: url(../images/header-bg.png) center top;
            color: #6BB1F9;
            -moz-box-shadow: 5px 5px 5px #ccc;
            -webkit-box-shadow: 5px 5px 5px #ccc;
            box-shadow: 5px 5px 5px #ccc;

        }
        
#viewport table.episodedetail tr:first-of-type td:nth-of-type(2)
{
    font-weight:bold;
}


#viewport table.episodedetail td:nth-of-type(1)
{
    color: #444;
    font-weight:bold;
    text-align: right;
}
#viewport table.episodedetail td:nth-of-type(2)
{
    font-style: italic;
    text-align: left;
}
#viewport p.episodedetail {
    padding-right: 8px;    
}

#viewport a.thumbsup {
    border: 1px solid #aaa;
    border-radius: 3px;
    margin-left: 5px;
    padding: 1px 0 1px 2px;
    background: #f9f9f9;
    text-decoration: none;
    font-size: 0.9em;
    font-family: arial-narrow;
    font-style: normal;
}    
    #viewport a.thumbsup.rated {
        border-radius: 3px;
        color: #000;                    
        opacity: .5;
    }            
    #viewport a.thumbsup span.text {
        border-radius: 3px;
        padding: 0 5px 0 20px;
        background: url('css/images/icon-like-black.png') no-repeat #fff;
    }    
    #viewport a.thumbsup span.rating {
        font-size: 0.8em;
        padding: 0px 2px;
        margin-right: 5px;
        border-radius: 10px;
        border: 2px solid #999;
        border-top: 0;
        border-bottom: 0;
    }
    #logo { 
		text-align: left;
    }
    #balance, #level { 
    	font-weight: bold; 
    	color: #fff; 
        font: normal 18px Arial, Helvetica, sans-serif; 
        text-shadow: -1px -1px 0px #3e1e16;
        display: inline-block;
		float:right;
	}
    #balance { 
        color: #fff; 
        background: url(../images/icon-balance.png) center left no-repeat;
        padding-top: 2px;
        text-align: left;
		text-indent: 38px;
        margin: 0 0 0 5%;
    } 
    #level {
    	margin-top: -5px;
		text-align: center;
        width: 90px; 
    }	#level .XP {
			font-size: 0.8em;
			background: url(../images/progress_bar_0.png) center center no-repeat;
    		color: #888;
    	}
    	#level .level {
    		margin-bottom: 2px;
			font-size: 0.9em;
		}
            
        
/*------------( Dialogs )------------*/

#searchpage .ui-input-search {
    width: 90%;
}
#searchpage div.ui-btn {
    width: 70% !important;
}
#searchtext {
    width: 98%;
}
#searchform { 
    width:100%; 
    display: table; 
}

#loginpage span.ui-slider-label {
    font-size: 14px;
}

#loginpage input { 
    display: inline-block !important; 
    width: 60% !important; 
    margin-top: .2em; 
}

#loginpage form {
    padding: 15px;
}

/*------------------( Left Col )-------------------*/
#leftcol {
    display: -moz-box;
    overflow: hidden;
    width: 300px;
    
    box-flex: 0;
    -moz-box-flex: 0;
    -webkit-box-flex: 0;
}
            
#leftcol .header {

}
#leftcol .ui-state-active{
    font-weight: bold; 
}
#leftcol .ui-state-default{
    background: #333; 
}
#leftcol .ui-state-default a:link {
    color: #888; 
}
#leftcol .ui-tabs-selected{
    background: #555 url(css/images/ui-bg_highlight-hard_55_555555_1x100.png) repeat-x 50% 50%; 
}
#leftcol .ui-tabs-selected a:link {
    color: #fff; 
}
#leftcol ul.header {
    background: #ddd; 
    margin: 0;
    border: 0 !important;
    border-radius: 0 !important;
    background-clip: none;
    font-size: 12px;
    font-weight: bold;    
    font-family: Helvetica,Arial,sans-serif;

}

#leftcol ul li {
    padding: 5px;
}
#leftcol .content {
/*    background: #444; */
}

#leftcol .header h3 {
    font-size: 16px;
    color: #6BB1F9;
    padding: .5em 0;
    margin: 0;
}
#leftcol .content {
    padding: 0px;
    text-align: left;
    color: #ccc;
    background: #222;
    display: block;
    border-top: 2px ridge grey;
}
#leftcol .footer {
    text-shadow: 0 0 0 !important;
    padding: .25em 0;
}

#leftcol a:link, #leftcol a:visited {
    color: #fff;
    text-decoration: none;
}

#leftlogo {
    padding-top: 7px;
}
#leftlogo img {
    height: 25px;
}

#leftcontent {
    border: 0;
    border-radius: 0;
    border-left: 3px solid #777;
}
#leftcontent .row {
    width: 100%;
}


/*-----------------( Right Col )-------------------*/

#rightcol
{
    border: 3px solid #777;
    border-left: 0;
    border-bottom: 0;
    border-radius: 0 20px 0 0;
    width: 150px;
}

#rightcol .header {
    padding: 15px 0 5px 0;
}
#rightcol .header h3 {
    margin: 2px auto;
}
#rightcol .footer {
    padding: 5px 0 10px 0;
}
#rightcol .content {
    box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#fb-root {
    box-flex: 0;
    -moz-box-flex: 0; 
    -webkit-box-flex: 0;
    height: 0;
} 

section {
     /*border: 1px solid red;*/  
}

#errormsg {
    margin: 2em 1em;
}

.noflex {
    box-flex: 0;
    -moz-box-flex:0; /* Firefox */
    -webkit-box-flex:0; /* Safari and Chrome */
}

/* -------- Trivia BJ *--------*/

#cardTable {
    /*max-width: 600px;*/
    max-width: 1024px;
    min-width: 300px;
    margin: 0 auto;
    height: 100%;
}
#tableTop {

}
#tableMiddle {
    height: 100%;    
    width: 100%;
}     
    #tableMiddle .felt{
        background: url(../images/body-bg.png) center repeat-x #1b441c;
        width: 100%;
    }    
        #qcard {
            background: none;
            margin: 1% 2%;
            border: none;
        }    
        #qcard .innercard {
            margin: 10px;
            /*border: none;*/
            overflow-y: auto;
            overflow-x: hidden;
            border: 10px solid #fff;
            -moz-border-radius:     8px;
            -webkit-border-radius:     8px;
            border-radius:             8px;
            background: url(../images/innercard-bg.png) top repeat #1d3f77;
            box-shadow: 3px 3px 8px #000;
            max-height: 2048px;
            /*-webkit-animation: slide 500ms ease-in;*/
            position: relative;
        }
        .scrollable {
            
        }
            #notificationContainer {
                background: none;
                text-align: center;
                display: none;
				z-index: 99999;
				position: absolute;
		}
            
            #notification {
				padding: 0 0 20px 0;
                margin: 0 auto;
                max-width: 500px;
                width: 100%;
				border: 2px solid #d2d2d2;
                
                -moz-border-radius:        .8em;
                -webkit-border-radius:     .8em;
                border-radius:             .8em;
                
                -moz-box-shadow:     0 5px 8px rgba(0,0,0,.5);
                -webkit-box-shadow: 0 5px 8px rgba(0,0,0,.5);
                box-shadow:         0 5px 8px rgba(0,0,0,.5);
                
                background: url(../images/notification-bg.png) center no-repeat;  
				-webkit-background-size: cover;
		        -moz-background-size: cover;
		        -o-background-size: cover;
		        background-size: cover;
		        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/notification-bg.png', sizingMethod='scale');
				-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/notification-bg.png', sizingMethod='scale')";
            }    
                #notification .gloss {
                    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.01)));
                    height: 30px;
                    width: 100%;
                    position: relative;
                    -webkit-border-top-right-radius: .75em;
                    -webkit-border-top-left-radius: .75em;
                    -webkit-border-bottom-right-radius: 6em 1em;
                    -webkit-border-bottom-left-radius: 6em 1em;
                    z-index: 1000;
                }
            
                #notification .notificationTitle {
                    font-size: 1.25em;
                    font-weight: bold;
                    padding: .5em 0;
                    margin: 0 auto;
                }
                #notification .notificationText {
                    padding: .5em 0;
                    margin: .5em auto;
                    width: 80%;
                }
                #continuebutton {
	                padding: 10px 15px;
	                border: 2px solid #072304;
	                
	                -moz-border-radius:     5px;
	                -webkit-border-radius:     5px;
	                border-radius:             5px;
	                background: url(../images/dealbutton-bg.png) center no-repeat;
	                font-size: 1em;
	            }    
				a#continuebutton:active { 
					background: url(../images/dealbutton-hover-bg.png) center no-repeat; 
				}
                
                
                
/******************** Card Content ********************/
            #cardContent {
            
            }    
            #resultMsg {
                width: 100%;
                margin: 0 auto;                    
                font: bold 1em Arial, Helvetica, sans-serif;
                text-align: center;
            }
            #resultMsg #correct {
                text-indent: 50px;
                background: url(../images/icon-correct.png) left no-repeat;
                padding: 20px 0;
            }
            #resultMsg #wrong {
                text-indent: 50px;
                background: url(../images/icon-wrong.png) left no-repeat;
                padding: 20px 0;
                color: #cc0c1b;
            }
            #question {
                    padding: 20px 5px;
                    font-size: 1.2em;
                    margin-bottom: 20px;
                    color: #fff;
                    text-shadow: 1px 1px 0 #18365d;
                    border-bottom: 1px solid #7cb4e6;
                    -moz-box-shadow: 0px 1px 8px             #1d314b;
                    -webkit-box-shadow: 0px 1px 8px         #1d314b;
                    box-shadow: 0px 1px 8px                 #1d314b;
                    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(121, 179, 229, 0.4)), to(rgba(121, 179, 229, 0.4)));                                
                }
            #answers {
                padding: 10px 5% 10px;
                margin: 0;
            }
            #answers a.answer-bttn {                    
                background: url(../images/answers-bg.png) center;
                box-shadow: 1px 1px 3px                 #000;
                -moz-box-shadow: 1px 1px 3px             #000;
                -webkit-box-shadow: 1px 1px 3px         #000;                
                border: none;
                border-radius:             .2em;
                -moz-border-radius:     .2em;
                -webkit-border-radius:     .2em;
                
            }    #answers .choice {
            		width: 100%;
            	}
	            #answers .ui-btn {
                    text-align: left;
                }    
                #answers a.wrong {
                    background: url(../images/answer-wrong-bg.png) center;
                }
                #answers a.wrong .answer-text {
                    color: #fff;
                    font: normal 1em Arial, Helvetica, sans-serif;
                }
                #answers a.right {
                    background: url(../images/answer-right-bg.png) center;
                }
                #answers a.right .answer-text {
                    color: #222;
                    font: normal 1em Arial, Helvetica, sans-serif;
                }
                #answers .animation1 {
                    -webkit-animation: grow1 1500ms ease-out;
                }
                #answers .animation2 {
                    -webkit-animation: grow2 1500ms ease-out;
                }
                #answers .animation3 {
                    -webkit-animation: grow3 1500ms ease-out;
                }
                #answers .animation4 {
                    -webkit-animation: grow4 1500ms ease-out;
                }
                #answers .animation5 {
                    -webkit-animation: grow5 1500ms ease-out;
                }
                #answers .hide {
                    -webkit-animation: shrink 100ms ease-in;    
                }
                #answers .ui-btn-inner {
                        word-wrap: break-word;
                        white-space: normal;
                        padding: .6em 15px;
                }
                #answers .letter {
                    color: black;
                    display: block;
                    background: url(../images/letter-bg.png) repeat-x;
                    color: #fff;
                    padding: .5em;
                    height: 36px;
                    border: 1px solid #13320f;
                    border-radius:             .2em;
                    -moz-border-radius:     .2em;
                    -webkit-border-radius:     .2em;
                    
                    box-shadow: 0px 1px 1px                 rgba(73,105,70,.8);
                    -moz-box-shadow: 0px 1px 1px             rgba(73,105,70,.8);
                    -webkit-box-shadow: 0px 1px 1px         rgba(73,105,70,.8);                    
                }
                #answers .answer-text {
                    font: normal 1em Arial, Helvetica, sans-serif;
                    padding-left: .5em;
                    color: #222;
                    -moz-text-shadow: none;
                    -webkit-text-shadow: none;
                    text-shadow: none;
                }
                #answers .showVX {                
                    display: block;
                    height: 36px;
                    min-width: 40px;
                    max-width: 40px;
                }
                #answers .v {                
                    background: url(../images/icon-correct.png) no-repeat;
                }
                #answers .x {                
                    background: url(../images/icon-wrong.png) no-repeat;
                }
                #placeBets { 
                    font: bold 1.2em Georgia, "Times New Roman", Times, serif; 
                }
                #socialMediaContainer { 
                    border-top: 1px solid #7cb4e6;
                    padding: 12px 10px 8px 10px;
                    background: url(../images/shadow-bg.png) top repeat-x rgba(18,39,74,.5);
                    height: 75px;
                    width: 100%;
                    bottom: 0;
                }
                #socialMediaContent {
                    width: 300px;
                    margin: 0 auto;
                    color: #fff;
                }
                #socialMediaContent .text {
                    float: left;
                    padding: 17px 0;
                }
                #socialMediaContent .icons {
                    float: right;
                }
                    
/******************** Bet Area ********************/
		#betarea {
			width: 100%;
			height: 100px;
			margin: 0 auto 10px auto;
			padding: 0px 5px;
			position: relative;
		}
        #betoptions {
                float: left; 
                width: 25%;
                overflow: hidden;
            }
        
		#dealbuttoncontainer {
			max-width: 150px;
			width: 100%;
			margin: 0 auto;
			font-size: 1em;  
		}	#dealbuttoncontainer a.ui-btn span.ui-btn-inner {
				padding: .6em 0 !important;
			}    
		
            #dealbutton, #clearbutton, #changebutton {    
                margin: 0 auto;            
                padding: 5px;
                border: 2px solid #072304;
                
                -moz-border-radius:     5px;
                -webkit-border-radius:     5px;
                border-radius:             5px;                
                
                font-size: 0.8em;
                color: #fff;
            } 
            
            
			#dealbutton{ 
                background: url(../images/dealbutton-bg.png) center no-repeat;
			}	a#dealbutton:active { background: url(../images/dealbutton-hover-bg.png) center no-repeat; }
			#clearbutton, #changebutton {
                background: url(../images/clearbutton-bg.png) center no-repeat;
			}	a#clearbutton:active, a#changebutton:active { background: url(../images/clearbutton-hover-bg.png) center no-repeat; }

            #betinfo { 
                width: 27%; 
                float: left; 
                margin-top: 20px;
                margin-left: 20px;
                border: 2px solid #90a820; 
                -moz-border-radius:     5px;
                -webkit-border-radius:     5px;
                border-radius:             5px;
                background: #113a10;
            }
                #betinfo table { 
                    border-collapse: collapse;
                    width: 100%;
                }
                #betinfo table td { padding: 5px; font: normal 14px Arial, Helvetica, sans-serif; }
                #betinfo table tr.top { border-bottom: 1px solid #90a820; }
                #betinfo table td.left { border-right: 1px solid #90a820; }        
                #maxbet{ font-weight: bold; }
            #betwidgets {
                width: 40%;
                float: left;
                /*margin: 0 auto;*/
                height: 100px;
                background: url(../images/wager_bg.png) center no-repeat;
                
            }    
                #betamount {
                    font-weight: bold;
                }
                #potchips {
                	height: 100%;
                	width: 100px;
                	margin: 0 auto;
                }    
                    #potchips .chip {
                        display: block;
                        position: absolute;
                        z-index: 9999;
                        width: 60px;
                        height: 60px;
                        padding: 10px 0px;
                        text-align: center;
                        font: bold 25px Georgia, "Times New Roman", Times, serif;
                        text-shadow: none;
                        text-decoration: none;
                    }	#potchips .chip .denom {
                		font-size: 12px;
                		display: inline-block;
                		position: relative;
                	}
                    
                    #potchips .chip1 {
                        background: url(../images/chip-red-small.png) center center no-repeat;
                        color: #b21113;
                    }
                    #potchips .chip5 {
                        background: url(../images/chip-blue-small.png) center center no-repeat;
                        color: #093482;
                    }
                    
                    #potchips .chip10 {
                        background: url(../images/chip-green-small.png) center center no-repeat;
                        color: #093482;
                    }
                    #potchips .chip25 {
                        background: url(../images/chip-black-small.png) center center no-repeat;
                        color: #272727;
                    }
                    #potchips .chip_sample {
                        display: inline-block;
                        position: relative;
                        background: url(../images/chip-black.png) no-repeat;
                        width: 82px;
                        height: 82px;
                        position: absolute;
                        z-index: 1000;
                    }
                    .chip1-toss-in {
                        -webkit-animation: chip1-toss-in 500ms;
                    }
                    .chip1-toss-out {
                        -webkit-animation: chip1-toss-out 500ms;
                    }
                    .chip5-toss-in {
                        -webkit-animation: chip5-toss-in 500ms;
                    }
                    .chip10-toss-in {
                        -webkit-animation: chip10-toss-in 500ms;
                    }
                    .chip25-toss-in {
                        -webkit-animation: chip25-toss-in 500ms;
                    }
                

/******************** Chip Area ********************/
        #chiparea {
            width: 100%;
            padding: 5px 10px;
            height: 120px;
            background: url(../images/bottom-bar-bg.png) center repeat-x; 
            position: relative;
            display: none;
            /*border: 2px solid #6CC;
            
            border-top: 1px solid #ae7f6b;
            -moz-box-shadow: 0 -5px 8px rgba(0,0,0,.5);
            -webkit-box-shadow: 0 -5px 8px rgba(0,0,0,.5);
            box-shadow: 0 -5px 8px rgba(0,0,0,.5);
            */
            
        } 
        
        #btnSlider {
            width: 34px; 
            height: 44px; 
            background: url(../images/btn-slide-down.png) no-repeat;            
            position: absolute;
            right: 15px;
            bottom: -25px;
        }    #chips {
                text-align: center;
                box-flex: 1000;
                -moz-box-flex: 1000;
                -webkit-box-flex:1000;
                margin: 15px 0 0 0;
            }    #chips a {
	            	text-decoration: none;
            	} 
            	#chips .chip {
                    display: inline-block;
                    width: 82px;
                    height: 82px;
                    margin: 0 5px;
                    padding: 15px 0 ;
                    text-align: center;
                    font: bold 30px Georgia,"Times New Roman", Times, serif;
                    background-position: center center;
                    background-repeat: no-repeat;
                }	#chips .chip .denom {
                		font-size: 14px;
                		display: inline-block;
                		position: relative;
                	}
                #chips .chip1 {
                    background-image: url(../images/chip-red.png); 
                    font-size: 35px;
                    color: #b21113;
                }
                #chips .chip5 {
                    background-image: url(../images/chip-blue.png);    
                    color: #093482;
                }
                #chips .chip10 {
                    background-image: url(../images/chip-green.png);                
					color: #087919;
					padding-top: 17px;
                }
                #chips .chip25 {
                    background-image: url(../images/chip-black.png);                
                    color: #272727;
					padding-top: 17px;
}
            #coinslabel {
                color: orange;
                font-weight: bold;
                padding-top: 10px;
                text-shadow: 0 1px 0 #555;
            }
            #coins {
                margin: 5px 10px 5px 0;
                padding: 5px;
                font-weight: bold;
                color: white;
            }
#table-bottom {

}

/* overrides */

#viewport div.header {
    border: 0;
    padding: 8px 10px 0;
    height: 47px;
    font: bold 18px arial;
}
#viewport .ui-content {
    background-color: black;
    overflow: hidden;
    margin-top: 0;
    padding-top: 0;
}
#mainFooter {
    border: 0;
}
#modal { position: absolute; top: 30%; left: 30%; background: rgba(121, 179, 229, 0.4); width: 300px; height: 300px; z-index: 1000; vertical-align: middle; }

